openapi: 3.1.0
info:
  title: Consumers Energy Green Button Connect My Data API (UtilityAPI) Authorizations Meters API
  description: 'Best-effort OpenAPI 3.1 description of UtilityAPI''s REST surface for the

    Consumers Energy Green Button Connect My Data program. The API exposes

    authorizations, meters, bills, and interval/usage data, plus the

    Green Button XML batch resource. Authentication uses OAuth 2.0 (the

    Green Button OAuth flow); third parties must be pre-registered with

    Consumers Energy and use utility ID `CONSUMERSENERGY`.

    '
  version: '2.0'
  contact:
    name: UtilityAPI - Consumers Energy
    url: https://utilityapi.com/docs/utilities/consumersenergy
servers:
- url: https://utilityapi.com/api/v2
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Meters
paths:
  /meters:
    get:
      summary: List meters
      operationId: listMeters
      tags:
      - Meters
      parameters:
      - in: query
        name: meters
        schema:
          type: string
        description: Filter by meter id(s).
      responses:
        '200':
          description: List of meters
  /meters/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      summary: Get a meter
      operationId: getMeter
      tags:
      - Meters
      responses:
        '200':
          description: Meter details
components:
  parameters:
    Id:
      in: path
      name: id
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://utilityapi.com/authorize
          tokenUrl: https://utilityapi.com/api/v2/oauth/token
          scopes:
            auth-sso: Production single-sign-on scope (Consumers Energy)
    bearerAuth:
      type: http
      scheme: bearer
